/* Imports */

/* basic components */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
}

h1,
h2,
h3,
h4 {
    margin: 6px 0;
}

hr {
    margin: 4vh 0;
}

section {
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #56789a;
}

/* Custom classes */
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

/* Sidebar content */
.sidebar {
    width: 300px;
    position: sticky;
    top: 0;
    background-color: #2c3e50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info * {
    color: white;
    text-decoration: none;
    margin: 4px 0;
}

/* Main content */
.content {
    flex: 1;
    padding: 40px;
}

.cycle-name {
    border-right: solid 3px #333;
    animation: blink-caret .75s step-end infinite;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress {
    flex: 1;
    background: rgba(0, 0, 0, .1);
    height: 8px;
    border-radius: 4px;
    margin: 8px 16px;
}

.progress > div {
    border-radius: 4px;
    background: #2c3e50;
    height: 100%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 0 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease, transform .3s ease;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
}

.tags > span {
    font-size: smaller;
    border: 2px solid #2c3e50;
    border-radius: 100px;
    padding: 0 4px;
    margin: 1px;
}

.info-block {
    background: white;
    padding: 20px;
    border-left: 5px solid #2c3e50;
    border-radius: 4px;
}

.button {
    width: 70%;
    margin: 16px auto 0 auto;
    text-align: center;
}

.button a {
    padding: 8px 24px;
    background: #2c3e50;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background .3s ease;
}

.button a:hover {
    background: #405b75
}

.button a i {
    transition: transform .3s ease;
}

.button a:hover i {
    transform: translateX(3px);
}

/* Keyframes */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #333
    }
}

@media screen and (max-width: 760px) {
    .sidebar {
        position: relative;
        width: 100%;
    }

    .container,
    .header {
        flex-direction: column;
    }
}

@media screen and (min-width: 761px) {
    .sidebar {
        height: 100vh;
    }
}